<div class="container">
<h1>TwitterClone</h1>
<h3>「いま」起きていることを見つけよう</h3>
<p>TwitterCloneをはじめましょう</p>
<%= image_tag 'twitterclone_icon.png', :width => '300'%>
<p>あなたの「好き」をフォローしよう。</p>
<p>話題のトピックを追いかけましょう。</p>
<p>Twitterに参加しましょう。</p>
</div>
