<div class="container">
<h1 class="title0">Share Posts</h1>
<h3>思いついた事をメモしよう</h3>
<%= image_tag 'twitterclone_icon.png', :width => '300'%>
<p>グループ内のメンバーにも知らせたいことを投稿しよう！</p>
<p>気になる投稿をお気に入りしよう！</p>
</div>
