html {
  position: relative;
  min-height: 100%;
}

body {
  background: linear-gradient(-45deg, rgba(246, 255, 0, .7), rgba(0, 128, 0, .7)), url(back1.jpg);
  background-size: cover;
  text-align: center;
}

header {
  width: 100%;
  background-color: rgba( 204, 255, 204, .3 );
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

// header li {
//   float: right;
//   width: auto;
// }

header li.left {
  float: left;
  width: auto;
}

header li.right {
  float: right;
  width: auto;
  margin: 5px 10px;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  width: 100%;
  background-color:black;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

h1 {
  margin-bottom: 40px;
}

h2 {
  margin: 40px;
}

li{
    list-style:none;
}

ul{
    padding:0;
}

.header{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

// .menu{
//     background-color:#012F4B;
//     color:#fff;
// }
//
// .menu li {
//     padding:5% 10%;
//     text-align:center;
// }
//
// .contents li{
//     background-color:#F3A7AB;
//     color:#fff;
//     padding:10% 10%;
//     box-sizing: border-box;
//     border: solid 1px #fff;
// }

// .blog_title .text {
//   width: 30%;
//   margin-bottom: 50px;
// }

.margin {
  margin: 20px;
}

.blog-links .btn {
  margin-top: 10px;
}
